body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(circle, rgba(26,230,230,1) 0%, rgba(9,121,106,1) 47%, rgba(2,0,36,1) 100%); */
  /* background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(136,119,181,1) 53%, rgba(232,37,57,1) 100%); */
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(190,181,218,1) 53%, rgba(148,187,233,1) 100%); */
  /* background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(136,119,181,1) 53%, rgba(232,37,57,1) 100%); */
  background: linear-gradient(90deg, rgba(174,206,243,1) 0%, rgba(136,119,181,1) 53%, rgba(17,20,77,1) 100%);
}
